html, body {
    height: 100%;
}

.HeadBar {
    height: 60px;
    color: #d8d8d8;
    background-color: #363636;
}

.Nav {
    text-align: center;
    font-size: 30px;
}

.Nav a {
    color: #eee;
    text-decoration: none;
}

.Nav li {
    list-style: none;
    float: left;
    padding: 10px 10px 0;
    background-color: #363636;
    border-bottom: #363636 solid 5px;
}

.Nav li:hover {
    border-bottom: #d8d8d8 solid 5px;
}
#Logo {
    width: 45px;
    height: 45px;
    padding: 10px 5px 5px 15px;
    margin: 0;
    background-color: #363636;
    border:none;
}
#Logo img {
    width: 45px;
}

.HideFunctionButtons li {
    list-style: none;
    float: right;
    padding: 5px 10px;
    background-color: #363636;
    /*border: #363636 solid 5px;*/
    border: none;
}
.HideFunctionButtons img {
    width: 50px;
    height: 45px;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content {
    display: block;
    border: none;
    width: 100%;
    flex: 1;
}

.HideIcon {
    width: 20px;
    height: 20px;

}