* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-color: #1a1a1a;
}

.HeadBar {
    height: 42px;
    color: #d8d8d8;
    background-color: #363636;
}

.Nav {
    text-align: center;
    font-size: medium;

}

.Nav a {
    color: #eee;
    text-decoration: none;
}

.Nav li {
    list-style: none;
    float: left;
    padding: 10px 10px 5px;
    background-color: #363636;
    border-bottom: #363636 solid 5px;
}

.Nav li:hover {
    border-bottom: #d8d8d8 solid 5px;
}
#Logo {
    padding: 5px 5px 0 5px;
    background-color: #363636;
    border:none;
}
#Logo img {
    width: 32px;
}

.HideFunctionButtons li {
    list-style: none;
    float: right;
    padding: 5px 10px;
    background-color: #363636;
    border: #363636 solid 5px;
}

.Page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Body {
    display: block;
    border: none;
    width: 100%;
    flex: 1;
}