* {
    margin: 0;
    padding: 0;
}

.Body {
    display: none;
    padding: 10px;
}

.HeadBar {
    height: 42px;
    color: #d8d8d8;
    background-color: #363636;
}

.Nav {
    text-align: center;
    font-size: medium;

}

.Nav li {
    list-style: none;
    float: left;
    padding: 5px 10px;
    background-color: #363636;
    border: #363636 solid 5px;
}

.Nav li:hover {
    border-bottom: #d8d8d8 solid 5px;
}

.HideFunctionButtons li {
    list-style: none;
    float: right;
    padding: 5px 10px;
    background-color: #363636;
    border: #363636 solid 5px;
}

.Nav a {
    color: #eee;
    text-decoration: none;
}

#Icon a {
    width: 40px;
    height: 40px;
}